#
# Copyright (c) 2025 Noé Henchoz
# Author: Noé Henchoz
# File: .env.example
# Title: Environment Variable Template
# Description: Template for environment variables. Copy this to .env.local for local development.
# Last modified: 2025-12-09
#

# ==============================================================================
# GENERAL APPLICATION SETTINGS
# ==============================================================================
NODE_ENV=development

# ==============================================================================
# DATABASE SETUP
# ==============================================================================
# Pooled for PrismaClient (port 6543 with pgBouncer and no SSL)
DATABASE_URL=""
# Direct for Prisma CLI (port 5432 without pgBouncer)
DIRECT_URL=""

# ==============================================================================
# BETTER AUTH SETTINGS
# ==============================================================================
# Generate a random secret using `openssl rand -base64 32`
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# ==============================================================================
# OAUTH PROVIDERS
# ==============================================================================
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# ==============================================================================
# EMAIL SETTINGS
# ==============================================================================
RESEND_API_KEY="re_..."
RESEND_FROM="Name here <noreply@example.com>"

# ==============================================================================
# STORAGE SETTINGS
# ==============================================================================
# Retrieve it from Vercel project settings
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."

# ==============================================================================
# PUBLIC ENVIRONMENT VARIABLES
# ==============================================================================
# Domain of the website used for twitch embeds
NEXT_PUBLIC_TWITCH_PARENT=""
# Default twitch stream URL used in the website and all tournaments
NEXT_PUBLIC_DEFAULT_STREAM_URL="https://twitch.tv/..."
NEXT_PUBLIC_APP_URL="http://localhost:3000"
